.introduction{
    height: 100vh;
    width: 100%;
    background-size: cover;
}
.introduction p{
color: white;
font-size: 17px;


}
.introduction div h1{
    font-size: 100px;
    color: rgba(255, 255, 255, 0.925);
}


.primary-button{
    background-color: white;
    height: 60px;
    border-radius: 20px;
    border: none;
    width: 200px;
    font-size: 22px;
   


}